# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env

# FastAPI / Uvicorn
*.log

# =====================
# Node / React
# =====================
node_modules/
dist/
build/
.vite/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Database
# =====================
*.sqlite
*.sqlite3
